body {
   background-color: #1d1c1c;
   height: 650px;
   width: 100%;
}





.block1 {
  
   background-color: #373737;

}

.block-conteiner {
max-width: 930px;
margin: 0 auto;
padding: 0 15px;
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
}

.block-left {
   width: 100%;
   height: 100px;
  display: block;
   color: orange;
   font-size: 40px;
   
}


.block-right {
   display: flex;
   align-items: center;
   gap: 5px;

}

.block-link {
   display: block;
   color: #ffffff;
   font-size: 16px;
   padding: 5px;
   font-weight: 700;
   font-family: sans-serif;
   text-decoration: none;
}


.block-link.active {
   display: block;
   background: #fff;
   color: #000;
   
}


.text {

   height: 60%;

}

.pod {

   margin-left: 40px;
   font-size: 7px;
   color: #ffffff;
   float: left;
}



.osnova1 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.blocksimg{

   outline: 1px solid;
   width: 30%;
   height: auto;
   display: inline-block;
   flex-direction: column;
   text-align: center;
   margin-top: 10px;
}



.osnova2 {
   max-width: 930px;
   margin: 0 auto;
   padding: 0 15px;
   margin-top: 3%;
   gap: 20px;
   width: auto;
   height: 350px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   margin-bottom: 10px;



}
.osnova2-conteiner {
   background-color: #373737;
}

.text1 h3 {
   color: #ffffff;
   font-size: 25px;
}

.text1 {
   width: 30%;
   overflow: hidden;
   
}
.text1 p {
   color: #999696;
   font-family: sans-serif;
   span {
      color: #fff;
      
   }
}

.photo {
   
   float: left;
   overflow: hidden;
   width: 100px;
   height: 100px;
   justify-content: center;
   align-items: center;
}
.foto {
   float: left;
   overflow: hidden;
   width: 100px;
   height: 100px;
   justify-content: center;
   align-items: center;
}
.end {
   
   display: flex;
   justify-content: center;
   align-items: center;
   color: #bdb9b9;
   
}

.enda {
   margin-left: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #bdb9b9;
   
}

.stel {
   display: none;
}

.str {
   margin-left: 100%;
   overflow: hidden;
   width: 30px;
   height: 30px;
   background-color: #1d1c1c;
   
}
.strrr {
   margin-right: 100%;
   overflow: hidden;
   width: 30px;
   height: 30px;
}

.btn{
   display: none;
   height: 50px;
   width: 50px;
}

@media screen and (max-width: 1200px){
   .blocksimg{
       width: 30%;
   }
   .block-right{
      display: none;
   }
   .btn{
       display: inline;
   }
   .text1{
      width: 30%;
   }
}

@media screen and (max-width: 767px) {
   .blocksimg{
       width: 45%;
   }
   .text1{
      width: 45%;
   }
}

@media screen and (max-width: 575px) {
   .blocksimg{
       width: 90%;
   }
   .text1{
      width: 90%;
   }
}
